__pycache__/
logs/
uploads/
settings/
/fastapi_app_django_fullskack/fastapi_app_django_fullskack/static/aggrid/*.css
/fastapi_app_django_fullskack/fastapi_app_django_fullskack/static/aggrid/styles/
/fastapi_app_django_fullskack/fastapi_app_django_fullskack/static/uikit/
/fastapi_app_django_fullskack/fastapi_app_django_fullskack/static/jspreadsheet-ce/*.css
/fastapi_app_django_fullskack/fastapi_app_django_fullskack/static/jspreadsheet-ce/*.js
*.xlsx
*.csv
*.log
/fastapi_app_django_fullskack/fastapi_app_django_fullskack/settings.py
messages/
