__pycache__/
logs/
uploads/
settings/
fastapi_app_django_fullskack/static/aggrid/
fastapi_app_django_fullskack/static/uikit/
fastapi_app_django_fullskack/static/jspreadsheet-ce/
*.xlsx
*.csv
*.log
fastapi_app_django_fullskack/fastapi_app_django_fullskack/settings.py
messages/
jspreadsheet-example/static/jspreadsheet-ce/
jspreadsheet-example/static/uikit/
