<!-- dropzone upload preview  -->
<div id="dz-preview" style="display:none" class="">
    <div class="dz-preview dz-file-preview">
        <div class="dz-details uk-flex uk-flex-middle">
            <img class="dz-thumbnail uk-hidden" data-dz-thumbnail>
            <div class="dz-filename uk-width-1-2 uk-text-truncate"><span data-dz-name></span></div>
            <progress class="uk-progress uk-width-1-5" value="" max="100"></progress>    
            <div class="my-processing-size uk-text-right" style="width:50px;">0</div>         
            <div class="my-processing-slash">/</div>
            <div class="dz-size uk-text-right" data-dz-size style="width:50px;"></div>
            <div class="dz-success-mark uk-hidden">
                <span class="uk-icon-small uk-text-primary" uk-icon="check"></span>
            </div>
            <div class="dz-error-mark uk-hidden">
                <span class="uk-icon-small uk-text-danger" uk-icon="warning"></span>
            </div>
            <div class="dz-error-message uk-hidden uk-text-danger"><span data-dz-errormessage>Failed.</span></div>
        </div>
        <hr/>
    </div>
</div>
