{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div>
    <h3>{% trans "Change Password" %}</h3>
    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="uk-button uk-button-primary" type="submit" name="action">{% trans "Change Password" %}</button>
        <a class="uk-button uk-button-link" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
    </form>
</div>
{% endblock %}
