<!DOCTYPE html>
<html lang="ja">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta charset="utf-8">
<meta name="description" content="aaaaaa">
<meta name="author" content="myname">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="">
<link rel="shortcut icon" href="">
<title>title</title>
<link href="static/uikit/css/uikit.min.css" rel="stylesheet">
<script src="static/uikit/js/uikit.min.js" type="text/javascript"></script>
<script src="static/uikit/js/uikit-icons.min.js" type="text/javascript"></script>

<link href="static/jspreadsheet-ce/jsuites.css" rel="stylesheet">
<link href="static/jspreadsheet-ce/jexcel.css" rel="stylesheet">
<script src="static/jspreadsheet-ce/jsuites.js" type="text/javascript"></script>
<script src="static/jspreadsheet-ce/jexcel.js" type="text/javascript"></script>

<link href="static/app/app.css" rel="stylesheet">
<script src="static/app/app.js" type="text/javascript"></script>
<script src="static/app/uikit_helper.js" type="text/javascript"></script>

<style>
    body{
        padding:15px;
    }
    td.readonly{
        color:black !important;
    }
    /*
    * cellをクリックしたときのハイライトを非表示(無効化)にする。
    */
    .jexcel .highlight-bottom{
        border-bottom: initial;
    }
    .jexcel .highlight-right {
        border-right: initial;
    }
    .jexcel .highlight-left {
        border-left: initial;
        box-shadow: initial;
    }
    .jexcel .highlight-top {
        border-top: initial;
        box-shadow: initial;
    }
    /*
    * cellをクリックしたときの右下のコーナーを非表示(無効化)にする。
    */
    .jexcel_corner {
        position: initial;
        background-color: initial;
        height: initial;
        width: initial;
        border: initial;
        top: initial;
        left: initial;
        cursor: initial;
        box-sizing: initial;
        z-index: initial;
        padding: initial;
    }
</style>
</head>

<body>
    <div class="uk-flex">
        <div class="uk-card uk-card-muted uk-card-body uk-margin-left">
            <h2>SpreadSheet(crud)</h2>
            <div id='my-spreadsheet'></div>
            <div class=" uk-flex uk-flex-middle">
                <button class="uk-button uk-button-small uk-margin-right" type="button" onclick="setData([]);">clear</button>
                <button class="uk-button uk-button-small uk-margin-right" type="button" onclick="setData();">redraw</button>
                <button class="uk-button uk-button-small uk-margin-right" type="button" onclick="getData();">getData</button>
                <button class="uk-button uk-button-small uk-margin-right" type="button" onclick="getJson();">getJson</button>
                <button class="uk-button uk-button-small uk-margin-right" type="button" onclick="getDataCount();">rowCount</button>
                <button class="uk-button uk-button-small uk-margin-right" type="button" onclick="addRow();">addRow</button>
                <button class="uk-button uk-button-small uk-margin-right" type="button" onclick="undo();">undo</button>
                <label for="show-rowno-col">
                    <input id="show-rowno-col" class="uk-checkbox" type="checkbox" onclick="showRowNoCol(this.checked);"/>
                    hideRowNo
                </label>
            </div> 
            <div>
                <a hef="/simple">simple</a>
            </div>        
        </div>
    </div>

    <div id="modal-model-detail" class="uk-modal-full" uk-modal >
        <div class="uk-modal-dialog">
            <button class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
            <div uk-height-viewport="offset-bottom:0">
                <div class="uk-grid-collapse uk-child-width-1-2@s uk-flex-middle" uk-grid>
                    <div class="uk-padding-large">
                        <p>this is modal</p>
                        <div id="model-detail">
                        </div>
                        <div class="uk-margin">
                            <button type="button" class="uk-button uk-button-small uk-button-default uk-width-1-4" onclick="closeModal()">
                                cancel
                            </button>
                            <button type="button" class="uk-button uk-button-small uk-button-primary uk-width-1-4">
                                send
                            </button>    
                        </div>
                    </div>
                </div>    
            </div>
        </div>
    </div>

    <div id="modal-2" class="uk-modal-full" uk-modal>
        <div class="uk-flex uk-flex-center">
            <div class="uk-modal-dialog">
                <button class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
                <div class="uk-grid-collapse uk-child-width-1-2@s uk-flex-middle" uk-grid>
                    <div class="uk-padding-large">
                        <h1>Headline</h1>
                        <div id='my-spreadsheet-modal-2'></div>
                    </div>
                </div>
            </div>    
        </div>
    </div>

<script>

// jspreadsheet for car model 
let ss1 = null;
// car model json data for create
let model_new_data = null;
// car model list
let model_data = null;

/**
 * 
 */
 let columns = [
    // { title:'id', type:'hidden'},
    { title:'id', width: 60},
    { title:'Maker', width:100, align: "left", type:'dropdown', url: "/makers"},
    { title:'Model', width:100, align: "left" },
    { title:'Model Year', width:100 },
    { title:'Price', width:80, mask:'#,###,##0', decimal:','},
    { title:' ', width:76, align: "left",  },
]

// jspreadsheet loaded event
// 
function loaded() {
    let elem = document.getElementById('my-spreadsheet').querySelector('div.jexcel_content>table>thead>tr>td[data-x="5"]');
    if (!elem.firstElementChild){
        let anchor = document.createElement('a');
        // <a href="" class="uk-icon-link" uk-icon="heart"></a>
        anchor.href="#";
        // anchor.classList.add("uk-icon-link");
        anchor.setAttribute("uk-icon","plus-circle");
        anchor.setAttribute('onclick', 'showModal(-1)');
        anchor.style.margin="4px";
        elem.appendChild(anchor);
    }
}

let updatable = function (instance, cell, x, y, val, label, cellName){
    const row = model_data[y];
    if (row){
        // console.log(cell, x, y, val, label, cellName, row);
        const model = row['model']; 
        if (model) {
            cell.classList.add('readonly');
        }
    }
    if (x == 5) {
            html_text  ="<a href='#' onclick='showModal("+y+")' uk-icon='icon: pencil'></a>"
            html_text  +="<a href='#' uk-icon='icon: trash' class='uk-margin-left'></a>"
            cell.innerHTML = html_text;
    }
}

/**
 * 
*/
async function createJspreadSheet(){
    ss1 = jspreadsheet(document.getElementById('my-spreadsheet'), {
        search:true,
        data:model_data,
        // text:{},
        about:false,
        // defaultColAlign: "left",
        // autoIncrement:false,
        columns: columns,
        onload: loaded,
        updateTable: updatable,
    });
}

/**
 * 
*/
init = async() => {
    model_data = await syncFetch("/cars");
    model_new_data = await syncFetch("/cars/create");
    await createJspreadSheet();
}

/**
 * 
*/
window.onload = function(){
    init();
}

/**
 * 
*/
function showRowNoCol(toggle){
    let elem = document.querySelector("table.jexcel>colgroup>col");
    console.log(elem, toggle);
    elem.width = toggle?"0":"50";
}

/**
 * 
*/
function setData(data=model_data){
    ss1.setData(data);
    ss1.refresh();
}

/**
 * 
*/
function getData(){
    const data = ss1.getData();
    alert(data);
}

/**
 * 
*/
function getJson(){
    const data = ss1.getJson();
    alert(JSON.stringify(data));
}

/**
 * 
*/
function getDataCount(){
    const data = ss1.getData();
    alert(data.length);
}

/**
 * 
*/
function addRow(){
    ss1.insertRow(JSON.parse(JSON.stringify(model_new_data)));
}

/**
 * 
*/
function undo(){
    ss1.undo();
}


/**
 * 表示しているModalを表示する
*/
function showModal(index){
    let elem = document.getElementById("modal-model-detail");
    let row = model_data[index];
    if (!row){
        row = JSON.parse(JSON.stringify(model_new_data));
    }
    console.log(row);
    const form_div = document.getElementById("model-detail");
    while(form_div.firstChild){
        form_div.removeChild(form_div.firstChild);
    }

    const columns = {
        id : {label: "ID", index: "pk", default: "auto_increment"},
        maker : {label: "Maker", widget:"dropdown", options:{}},
        model : {label: "Model"},
        model_year : {label: "Year"},
        price : {label: "Price"},
    };

    let crud = "update";
    if (index < 0){
        crud = "create";
    }

    const options ={
        css_framework: "uikit",
    };

    const form = createForm(crud, row, columns, options);
    form_div.appendChild(form);
    UIkit.modal(elem).show();
}

/**
 * 表示しているModalをクローズする
*/
function closeModal(){
    let elem = document.getElementById("modal-model-detail");
    UIkit.modal(elem).hide();
}

</script>
</body>
</html>