{% extends "account/base.html" %}

{% load i18n %}

{% block content %}
<div class="">
    <a class="uk-link" href="/accounts/signup/">signup</a>
    <br/>
    <a class="uk-link" href="/accounts/login/">login</a>
    <br/>
    <a class="uk-link" href="/accounts/logout/">logout</a>
    <br/>
    <a class="uk-link" href="/accounts/password/change/">password change</a>
    <br/>
    <!-- <a class="uk-link" href="/accounts/inactive/"></a><br/> -->
    
    <a class="uk-link" href="/accounts/email/">email</a>
    <br/>
    <a class="uk-link" href="/accounts/password/reset/">password reset</a>
    <br/>
    
</div>
{% endblock %}

